h1 {
  text-align: center;
  font-size: 90px;
  color: black;
  font-family: 'Cinzel Decorative', cursive;
}

#bg-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: 0.75;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-style: bolder;
}

.well {
  background-color: rgba(169, 179, 185, 0.7);
  border-color: rgba(169, 179, 185, 0.7);
  font-weight: bold;
}

.col-sm-6 {
  height: 600px;
}

.char-creation {
  font-weight: bold;
}

#all-inputs {
  margin-left: 25px;
}

#char-card {
  background-image: url("../img/card1.png");
  background-repeat: no-repeat;
  border-radius: 30px;
  border-style: none;
  border-width: 1px;
}

.char-img {
  float: right;
  width: 420px;
  border-radius: 30px;
  border-style: none;
  border-width: 1px;
}

.greenback {
  background-color: green;
  background-position: left;
  background-size: contain;

}

#char-class {
  background-image: url("../img/warrior1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /*keeps the whole image with in the area*/
}

/*sets the width of the input fields*/
#char-card select {
  width: 45%;
}

.stats input {
  width: 30%;
}

#all-inputs {
  width: 60%;
  margin: 25px 15px;
}

/*adds spacing between the input fields*/
#char-card select, #char-card input {
  margin-bottom: 10px;
}


.char-8die {
  margin-left:40px;
}

#die8 {
  cursor: pointer;
  /*cursor: hand;*/
}

/*character attack section*/

#character, #enemy {
  color: white;
  text-align: center;
  width: 420px;
  height: 600px;
  border-radius: 30px;
  border-style: none;
  border-width: 1px;
  text-shadow: -1px 1px #000,
               -1px -1px #000,
               1px -1px #000,
               1px 1px #000;
}

.warrior_male1 {
  background: url("../img/warrior_male1.png") no-repeat center;
  background-size: contain;
}

.mage_male1 {
  background: url("../img/mage_male1.png") no-repeat center;
  background-size: contain;
}

.ranger_male1{
  background: url("../img/ranger_male1.png") no-repeat center;
  background-size: contain;
}

.warrior_fem1 {
  background: url("../img/warrior_fem1.png") no-repeat center;
  background-size: contain;
}

.mage_fem1 {
  background: url("../img/mage_fem1.png") no-repeat center;
  background-size: contain;
}

.ranger_fem1{
  background: url("../img/ranger_fem1.png") no-repeat center;
  background-size: contain;
}

.dark_warrior_male1{
  background: url("../img/enemy/dark_warrior_male1.jpg") no-repeat center;
  background-size: contain;
}

.dark_wizard_male1{
  background: url("../img/enemy/dark_wizard_male1.jpg") no-repeat center;
  background-size: contain;
}

.dark_ranger_male1{
  background: url("../img/enemy/dark_ranger_male1.jpg") no-repeat center;
  background-size: contain;
}
.dark_warrior_fem1{
  background: url("../img/enemy/dark_warrior_fem1.jpg") no-repeat center;
  background-size: contain;
}

.dark_wizard_fem1{
  background: url("../img/enemy/dark_wizard_fem1.jpg") no-repeat center;
  background-size: contain;
}

.dark_ranger_fem1{
  background: url("../img/enemy/dark_ranger_fem1.jpg") no-repeat center;
  background-size: contain;
}
